<header class="bg-primary text-center masthead">
  <div class="container flex-column">
    <i id="imglogo" class="bi bi-code-slash"></i>
    <h2 class="masthead-heading">Gestão Aquasoft</h2>
  </div>
</header>
<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <div class="card text-center">
        <i class="bi bi-file-person-fill card-subheading btn-secondary"></i>
        <div class="card-body">
          <h5 class="card-title">Colaborador</h5>
          <p class="card-text">Gerenciamento de perfil de colaboradores</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card text-center">
        <i class="bi bi-diagram-3-fill card-subheading btn-secondary"></i>
        <div class="card-body">
          <h5 class="card-title">Lorem ipsum</h5>
          <p class="card-text">Consectetur volutpat sapien iaculis</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-12">
      <div class="card text-center">
        <i class="bi bi-currency-exchange card-subheading btn-secondary"></i>
        <div class="card-body">
          <h5 class="card-title">Maecenas felis laoreet </h5>
          <p class="card-text">Auctor pretium nullam ornare euismod</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>
  </div>
</div>